@import 'nib'
.mt5
	margin-top 5px
.mt10
	margin-top 10px

.mb0
	margin-bottom 0
.fs10
	font-size 0.625em /* 10/16 */

.fs20
	font-size 1.25em /* 20/16 */

.wt60
	width 60% !important
.roboto-black
	font-family roboto_black

.modal
	display block !important
	opacity 1 !important

//colors
.marrom
	color #5d3c17 !important
.vinho
	color #7b0d0d !important
.modal-vitoria
	background url("../img/derrota-e-vitória.png") no-repeat
	padding-bottom 60%
	width 51%
	z-index 1000
	margin-top 1%
	background-size 100% !important
	.header-modal
		padding-top 1em
	.body-modal
		.ajuda
			display inline-block
			margin 0 auto !important
			position relative !important
			width 22%
			box-shadow 0px 3px 12px #000
			img
				width 71%
		.volta
			width 22%
			padding 0.4em 0.45em
			display inline-block
			background-color #173e28
			border-radius 50%
			box-shadow 0px 3px 12px #000
			img
				width 93%
.img-vitoria
	width 34% !important


	