@import 'nib'

.placar
	.pontos 
		margin-top 1em
		padding-left 1em
		
	.adversario
		border-top 1px solid #fff
		border-right 1px solid #fff
		padding 0.5em
		padding-left 1em
		color #e5901b
		font-weight 700
		
	.seus-pontos
		border-top 1px solid #fff
		padding 0.5em
		color #e5901b
		font-weight 700
	
	.area1
		border-radius 25%
		background-color #fff
		padding 0.7em
		box-shadow: 0px 0px 7px #000		 	
	
	.bandeira-vermelha,
	.bandeira-verde
		width 8.063em
		height 8.938em
		
	.espadas
		padding 0.5em
	