@import 'nib'
@media (max-width 1024px)
	.topo
		font-size 160% !important
		
.ilha-tabela
	padding-bottom 9%
	border 1px dashed #4d6472
	background url("../img/agua.png")

.numero-ilha
	box-shadow 0px 3px 12px #000
	.col-xs-1
		border-right 1px dashed #4d6472
		
.modo-tabela
	.ml30
		margin-left 1.875em /* 30/16 */
	.bg-azul-escuro
		background-color #3d616f
		padding 0.2em
	.madeira
		background-position: 77.6% 5% !important
		width 88% !important
		margin-left 7%
		background-size 611% !important
	
	.pirata2
		width 77%
		float right
	
	.area-ilha
		padding 0 !important
	
	.bandeira
		display block !important
		left 0% !important
		bottom 11px !important
		
	.col-xs-1
		width 10%
		//width 9.333333%