/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-alugueCarro_desktop_gol_03 {
  background-image: url(../img/sprite.png);
  background-position: -41px 0px;
  width: 40px;
  height: 40px;
}
.icon-alugueCarro_desktop_gol_06 {
  background-image: url(../img/sprite.png);
  background-position: 0px -41px;
  width: 35px;
  height: 40px;
}
.icon-alugueCarro_desktop_gol_09 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 41px;
  height: 41px;
}
.icon-alugueCarro_desktop_gol_12 {
  background-image: url(../img/sprite.png);
  background-position: -35px -41px;
  width: 39px;
  height: 30px;
}
.icon-alugueCarro_desktop_gol_14 {
  background-image: url(../img/sprite.png);
  background-position: -81px 0px;
  width: 39px;
  height: 30px;
}
.icon-alugueCarro_desktop_gol_17 {
  background-image: url(../img/sprite.png);
  background-position: -81px -30px;
  width: 38px;
  height: 27px;
}
.icon-arrow-down-2x {
  background-image: url(../img/sprite.png);
  background-position: -81px -57px;
  width: 24px;
  height: 14px;
}
.icon-arrow-down {
  background-image: url(../img/sprite.png);
  background-position: -105px -57px;
  width: 12px;
  height: 7px;
}
