@import 'nib'

@media screen and (min-width: 1079px)
	.config,
	.ajuda
		width 3% !important
		
body
	font-size 16px
	background: radial-gradient(#7bc1d0, #60aac6, #3484b6) no-repeat !important
	padding-bottom 50%
	overflow hidden
	width 100%
	
.sprite
	background url("../img/sprite.png")

.center
	margin: 0 auto
	
.leme
	width 96%
	height 0
	padding-bottom 100%
	background-position 0.7% 1% !important
	background-size 1426%
	
.config
	position fixed 
	width 5%
	background-color #4c181a
	border-top-left-radius 50%
	border-top-right-radius 50%
	bottom 0
	padding 0.3em

button
	display block !important
	font-family roboto_black
	
.tela-jogar
	button
		display block
		margin 0 auto
		width 25%
		box-shadow 0px 3px 12px #000

	.logo
		width 68%
		margin-bottom 6%
	
	.btn-game
		height 10%
		background-color #fff
		color #3d616f
		font-size 2.075em
		
	.btn-intrucoes
		background-color #3d616f
		color #fff
		font-size 1.363em
	
	
		
		
	
	