---
title: Modo tabela
layout: game
---
<main class="modo-tabela">
	<div class="container">
		<div class="ajuda">
			<div class="sprite ancora"></div>
		</div>
		<div class="row">
			<div class="col-xs-2" style="padding: 0; margin-top: 10%;">
				<img src="Content/img/pirata2.png" class="img-responsive pirata2">
				<div class="row sprite madeira">
					<div class="area-ilha">	
						<label class="letra-selecionada"></label>
						<label class="numero-selecionado"></label>
					</div>
					<div class='sprite bandeira'></div>
				</div>
			</div>
			<div class="col-xs-10" style="text-align: center; padding-left: 2em;" class="bg-mar">
				<div class="row">
					<div class="col-xs-1 topo">0</div>
					<div class="col-xs-1 topo">1</div>
					<div class="col-xs-1 topo">2</div>
					<div class="col-xs-1 topo">3</div>
					<div class="col-xs-1 topo">4</div>
					<div class="col-xs-1 topo">5</div>
					<div class="col-xs-1 topo">6</div>
					<div class="col-xs-1 topo">7</div>
					<div class="col-xs-1 topo">8</div>
					<div class="col-xs-1 topo">9</div>
				</div>
				<div class="row">
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
				</div>
				<div class="row">
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
				</div>
				<div class="row">
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
				</div>
				<div class="row">
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
				</div>
			</div>
		</div>
		<div class="desistir">
			<div class="sprite close-ossos"></div>
		</div>
		<div class="config">
			<div class="sprite leme"></div>
		</div>
	</div>
</main>