---
title: Modo tabela Barba cinza
layout: game
---
<main class="modo-tabela">
	<div class="container">
		<div class="ajuda" id="bt-ajuda">
			<img src="Content/img/ancora_01.png" alt="" class="img-responsive">
		</div>
		<div class="row">
			<div class="col-xs-9 numero-ilha ml30 text-center">
				<div class="row">
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">0</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">1</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">2</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">3</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">4</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">5</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">6</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">7</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">8</div>
					<div class="col-xs-1 bg-azul-escuro roboto-black fs20">9</div>
				</div>
				<div class="row">
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
				</div>
				<div class="row">
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
				</div>
				<div class="row">
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
				</div>
				<div class="row">
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
					<div class="col-xs-1 ilha-tabela"></div>
				</div>
			</div>

			<div class="col-xs-2 ml2 mt30">
				<img src="Content/img/pirata1.png" class="img-responsive pirata1 ml-19">
				<div class="row sprite madeira">
					<div class="area-ilha">	
						<label class="letra-selecionada"></label>
						<label class="numero-selecionado"></label>
					</div>
					<div class='sprite bandeira-verde' style="left: 74%; bottom: 15px;"></div>
				</div>
			</div>
			
		</div>
		{{>modal-desistir}}
		<div class="desistir" id="bt-desistir">
			<img src="Content/img/close.png" alt="" class="img-responsive">
		</div>
		{{>menu-config}}
	</div>
</main>