---
title: Seleção single multi
layout: default
---

<main class="selecao">
	<div class="container">
		<div class="ajuda">
			<div class="sprite ancora"></div>
		</div>
		<div class="col-xs-offset-1 col-xs-6" style="margin-top: 20%;">
			<button class="btn text-uppercase"><label class="sprite single"></label>sigleplayer</button>
			<button class="btn text-uppercase"><label class="sprite multi"></label>multiplayer</button>
		</div>				
		<div class="col-xs-offset-1 col-xs-5 barco">
			<img src="Content/img/barco.png" class="img-responsive">
		</div>
		<div class="config">
			<div class="sprite leme"></div>
		</div>
	</div>
</main>