---
title: Placar
layout: default
---

<main class="placar">
	<div class="container">
		<div class="ajuda">
			<div class="sprite ancora"></div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-2" style="text-align: center; padding: 0;">
				<img src="Content/img/pirata1.png" class="img-responsive" style="margin-top: 4em;"/>
				<div class="pontos">
					<span class="adversario">
						P
					</span>
					<span class="seus-pontos">
						951
					</span>
				</div>
			</div>
			<div class="col-xs-6" style="padding-top: 28%;">
				<div class="col-xs-4">
					<div class="area1">
						<img src="Content/img/bandeira-vermelha.png" class="img-responsive">
					</div>
				</div>
				<div class="col-xs-4">
					<img src="Content/img/espadas.png" class="img-responsive espadas">
				</div>
				<div class="col-xs-4">
					<div class="area1">
						<img src="Content/img/bandeira-verde.png" class="img-responsive">
					</div>
				</div>
			</div>
			<div class="col-xs-2" style="text-align: center; padding: 0;">
				<img src="Content/img/pirata1.png" class="img-responsive" style="margin-top: 4em;"/>
				<div class="pontos">
					<span class="adversario">
						?
					</span>
					<span class="seus-pontos">
						396
					</span>
				</div>
			</div>
		</div>
		<div class="config">
			<div class="sprite leme"></div>
		</div>
	</div>	
</main>