---
title: Transição
layout: default
---

<main class="transicao">
	<div class="container">
		<div class="row">
			<img src="Content/img/ancora.png" class="center ancora img-responsive"/>
		</div>
		<div class="row" style="margin-top: 3%;">
			<div class="textProgress html">
        		<span class="tp font" style="color: #549cb9;">CARREGANDO<i class="fa fa-html5"></i></span>
        		<span class="tp font" id="control-progress-bar">CARREGANDO<i class="fa fa-html5"></i></span>
    		</div>
		</div>
	</div>
</main>

	