<div class="modal fade">
            <div class="modal-vitoria center-block">
              <div class="header-modal">
                    <h2 class="fs20 roboto-black text-uppercase text-center marrom">você perdeu!</h2>
                </div>
                
                <div class="body-modal">
                    <img src="Content/img/derrota.png" alt="Imagem de derrota" class="img-responsive roboto-black center-block img-vitoria">
                    <p class="mt10 mb0 fs10 roboto-black center-block text-uppercase text-center marrom wt60">O Pirata Barba Cinza encontrou seu tesouro, e precisou de somente</p>
                    <h3 class="mt5 fs20 roboto-black vinho text-uppercase text-center"><span id="nr-palpites">2</span> <span class="word-palpites">palpites</span>!</h3>
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="ajuda pull-right">
                      <img src="Content/img/ancora_01.png" class="img-responsive center-block" alt="">
                    </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="volta">
                      <img src="Content/img/voltar.png" class="img-responsive center-block" alt="">
                    </div>
                      </div>  
                    </div>
                  </div>
            </div>
          </div>