    <div class="modal fade">
                <div class="modal-vitoria center-block">
                  <div class="header-modal">
                        <h2 class="fs20 roboto-black text-uppercase text-center marrom">você encontrou!</h2>
                    </div>
                    
                    <div class="body-modal">
                        <img src="Content/img/vitoria.png" alt="Imagem de derrota" class="img-responsive roboto-black center-block img-derrota">
                        <p class="mt10 mb0 fs9 roboto-black center-block text-uppercase text-center marrom wt60">O tesouro do Barba Cinza estava na ilha <strong class="text-uppercase fs24"><span class="letra-vencedor">m </span>| <span class="numero-vencedor">609</span></strong> e você encontrou em somente</p>
                        <h3 class="mt5 fs20 roboto-black verde-escuro text-uppercase text-center"><span id="nr-palpites">2</span> <span class="word-palpites fs10">palpites!</span></h3>
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="ajuda pull-right">
                          <img src="Content/img/ancora_01.png" class="img-responsive center-block" alt="">
                        </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="volta">
                          <img src="Content/img/voltar.png" class="img-responsive center-block" alt="">
                        </div>
                          </div>  
                        </div>
                      </div>
                </div>
              </div>